<div class="card-signo">
        <div [ngStyle]="{'justify-content': 'center'}">
        <p><b>Signo:</b> {{page}}</p>
    </div>
    <div>
        <div>
            <p><b>Current data</b>: {{current_date}}</p>
        </div>
        <div>
            <p><b>Compatibility</b>: {{compatibility}}</p>
        </div>
    </div>
    <div>
        <p>{{description}}</p>
    </div>
    <div>
        <div>
            <p><b>Mood:</b> {{mood}}</p>
        </div>
        <div>
            <p><b>Lucky number:</b> {{lucky_number}}</p>
        </div>
    </div>
    <div [ngStyle]="{'justify-content': 'center'}">
        <p><b>Color:</b> {{color}}</p>
    </div>
</div>
