<div>
    <div class="image-title">
        <img src="/assets/horoscope.png" />
    </div>

    <p [ngStyle]="{'font-size': '25px', 'color': 'rgb(21, 191, 197)'}"><b>LOGIN ACCOUNT</b></p>
    <div><input placeholder="Name" type="text" [(ngModel)]="name"></div>
    <div><input placeholder="Password" type="password" [(ngModel)]="password"></div>
    <div class="bnt" (click)="login()" [ngStyle]="{'background': 'linear-gradient(to right, rgb(21, 191, 197), rgb(6, 230, 163))'}"><b>Login</b></div>
</div>