<div class="main-page">
    <div class="div-card">
        <div class="card">
            <img src="/assets/mapa-astral.jpg">
            <p>Mapa Astral</p>
        </div>
        <div class="card">
            <img src="/assets/mapa-astral.jpg">
            <p>Cavaleiros dos zodiacos</p>
        </div>
    </div>
    <div class="div-signo">
        <p>QUAL SEU SIGNO?</p>
        <div class="signs">
            <img *ngFor="let signo of signos" (click)="goingToPage(signo)" src="/assets/{{signo}}.png">
        </div>
    </div>
    
</div>